.pio/
.platformio/
.pioenvs/
.piolibdeps/

.vscode/
.idea/

compile_commands.json
*.log
*.tmp
*.cache
__pycache__/
*.pyc

demo_web/build/
demo_web/CMakeFiles/
demo_web/CMakeCache.txt
demo_web/cmake_install.cmake
demo_web/Makefile
demo_web/*.ninja
demo_web/build.ninja

lib/lvgl/.git/
lib/lvgl/.github/
lib/lvgl/.devcontainer/
lib/lvgl/docs/
lib/lvgl/tests/
lib/lvgl/demos/
lib/lvgl/examples/
lib/lvgl/scripts/
lib/lvgl/env_support/
lib/lvgl/xmls/
lib/lvgl/zephyr/

.DS_Store
Thumbs.db

